<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="icon" href="../../public/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        </head>
        <body>
            <div class="center">
                 {{>header}}
            </div>
            <div class="main-content">
                <p>{{errorMessage}}</p>
                <h2>Enter Correct URL :)</h2>
            </div>
            {{>footer}}
        </body>
</html>