<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        </head>
        <body>
            <div class="main-content">
                   {{>header}}
                   <p>This site is created by Shivam Prakash.This uses data from mapbox.com and weatherstack.</p>
                    <img class="portrait" src="/img/my pic.JPG">
                    <p>I created this weather app by using Express Js and node.js</p>
            </div>
            {{>footer}}
            
        </body>
</html>


