<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        </head>
        <body>
            <div class="center">
                 {{>header}}
            </div>
            <div class="main-content">
                   <h5>This site is created by Shivam Prakash.This uses data from mapbox.com and weatherstack.</h5>
                   <h3 text-align: "center">Developed By :</h3>
                    <img class="portrait" src="./img/mypic.jpg">
                    <h5>I created this weather app by using Express Js and node.js</h5>
            </div>
            {{>footer}}
        </body>
</html>


