<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="../../public/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        </head>
        <body>
            <div class="center">
                 {{>header}}
            </div>
            <div class="main-content">
                 <h4>Please use the specific address to get the Weather.</h4>
                 <h4>Location : Dehri</h4>
            </div>
            <div class="last">
                 <p>If any difficulty then add State like</p>
                 <p>Location : Dehri Bihar</p>
            </div>
            {{>footer}}
            
        </body>
</html>