<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="../../public/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        </head>
        <body>
            <div class="center">
                 {{>header}}
            </div>
            <div class="main-content">
                  <p>Search your Location and get the weather!!!</p>


                  <form class="design">
                      <input placeholder="Location">
                      <button>Search</button>
                  </form>
                  <p id="message-1"></p>
                  <p id="message-2"></p>
            </div>
            {{>footer}}
            <script src="/js/app.js"></script>
        </body>
</html>